body {
    margin: 0px;
    padding: 0px;
}

li,
a {
    text-decoration: none;
}

.header {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    background: linear-gradient(to right, #e97a9f 0%, #512da8 100%);
    display: flex;

}

.logo {
    padding: 5px 0px 0px 100px;
}

.logo img {
    width: 115px;
}

.search {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.search button {
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 40px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    font-size: large;
    cursor: pointer;
}

.search button:hover {
    background-color: white;
    color: black;
    transition: background-color 0.5s ease;
}
.search input {
    margin-left: 10px;
    padding: 15px 20px;
    border-radius: 10px;
    border-color: transparent;
    background-color: rgb(235, 233, 233);

}

.pages {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pages a {
    color: black;
    margin-right: 15px;
    font-weight: 400;
}

.pages a:hover {
    color: #e70909;
    border-color: rgb(255, 255, 255);
    border-style: none none solid none;
    border-width: 2px;


}

.body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    display: flex;
    background: linear-gradient(to right, #e97a9f 0%, #512da8 100%);
}

.right {
    padding: 80px 0px 0px 140px;
    flex: 1;
    height: 500px;

}

.right p {
    padding-top: 10px;
    text-align: justify;
    width: 500px;
    line-height: 25px;
    font-size: larger;
}

.left {
    flex: 1;
}

.left img {

    padding-left: 70px;
    width: 380px;
    margin-top: 0px;
}

.right button {
    margin-top: 10px;
    padding: 10px 25px;
    border-radius: 10px;
    border-color: transparent;
    font-size: larger;
    background-color: red;
}





body {
    position: relative;
}

li {
    list-style: none;
}

.Course {
    display: flex;
    flex-direction: column;
    background-color: rgba(240, 232, 232, 0.904);
    width: 900px;
    position: absolute;
    left: 200px;
    padding: 10px 20px;
    top: 100px;
    border-radius: 20px;
    
}

.CourseHead {

    display: flex;
    text-align: center;

}

.CourseHead h3 {

    flex: 6;
    font-size: 40px;

}

.CourseHead span {
    flex: 1;
    padding: 30px 0px 0px 0px;
    font-size: 35px;
    cursor: pointer;
}

.CourseBody {
    display: flex;
}

.CourseName {
    flex: 1;

}
.CourseName li{
    background-color: rgb(1, 1, 102);
    color: white;
    
}

.CourseVisibleBox {
    flex: 2;
    background-color: #adb9e0de;
    height: 400px;
    width: 500px;
    margin-left: 30px;
    border-radius: 20px;


}

.CourseName li {
    position: relative;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px 0px;
}

.CourseName span {
    position: absolute;
    right: 20px;

}






.programing {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;

}

.fullstack {
    display: flex;
    margin: 20px;
    justify-content: space-evenly;
}

.fullstack p {
    width: 100px;
}

.uiux {
    display: flex;
    justify-content: space-around;
    margin: 20px 50px;
}

.database {
    display: flex;
    justify-content: space-around;
    margin: 20px 50px;

}